/* GERAL */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 80%;
  margin: auto;
  /* background-color: #111; */
  text-align: center;
}

.btn-orange{
    background-color: orangered;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

/* INICIO ESTILO HEADER */
.header {
  background-color: #232323;
  width: 100%;
  height: 80px;
  border-bottom: solid orangered 3px;
}

.header h1 {
  float: left;
  color: white;
}

.header ul {
  /* Tira as 'bolinhas' da lista */
  list-style: none;
  float: right;
}

.header h1,
.header ul {
  margin-top: 20px;
}

.header li {
  /* coloca os elementos <li> na mesma linha como blocos */
  display: inline-block;

  font-size: 17px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 5px;
  background-color: #444444;
}

.header ul li a {
  /* Tira o estilo de 'link' */
  text-decoration: none;
  color: white;
}

.header .text-orange {
  color: orangered;
  font-weight: bold;
}

/* Inicio Banner */

.banner {
  width: 100%;
  height: 400px;
  text-align: center;
  background-image: url("./img/banner-fundo.jpeg");
  background-size: cover;
}

.banner h1 {
  padding-top: 150px;
  font-size: 40px;
  color: orangered;
}

.banner h3 {
  font-size: 25px;
  font-weight: lighter;
  margin-top: 15px;
  color: #232323;
}
/* Fim Banner */

/* Inicio Novidades */
.news {
  width: 100%;
  height: 80px;
  background-color: #232323;
  text-align: center;
}

.news button{
    margin-top: 25px;
}
/* Fim Novidades */

/* Inicio Missão Visão Valores */

.box{
  text-align: center;
  margin: 30px;
}

.box-item{
  display: inline-block;
  width: 32%;
}

.box-item img{
  width: 100px;
  margin-top: 35px;
}

.box-item h3, .box-item p{
  margin-top: 15px;
}

/* Fim Missão Visão Valores */

/* inicio sobre */

.box-assunto-p, .box-assunto-g {
  background-color: rgb(228, 228, 228);
  width: 30%;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border-bottom: solid orangered 3px;
  border-radius: 10px;
}

.titulo-assunto {
  margin-bottom: 10px;
}

.texto-assunto {
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
}

/* fim sobre */

/* inicio nossa equipe */
.box-nosso-time {
  background-color: #232323;
  color: white;
  width: 100%;
  height: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.box-integrante {
  /* background-color: red; */
  width: 200px;
  height: 270px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}
.img-integrante {
  width: 100px;
  height: 100px;
  background-color: orangered;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.nome-integrante {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  display: block;
}
.desc-integrante {
  text-align: justify;
}
/* fim nossa equipe */

/* inicio assunto g */
.box-assunto-g {
  width: 65%;
}
/* fim assunto g */

/* inicio footer */
.footer {
  background-color: orangered;
  text-align: center;
  width: 100%;
  height: 50px;
  padding-top: 30px;
}
/* fim footer */

/* inicio form */
.form-login {
  background-color: rgba(228, 222, 222, 0.74);
  width: 40%;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  padding: 30px 10px;
}
.form-login label, .form-login input {
  /* background-color: yellow; */
  display: block;
  width: 90%;
  margin-left: 5%;
}
.form-login input {
  margin-bottom: 25px;
  height: 35px;
  border-radius: 5px;
  border: solid #b5b5b5 1px;
}
.form-login h1 {
  text-align: center;
}
.form-login button {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 10px;
  background-color: rgb(55, 189, 55);
  border: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  height: 35px;
}
/* fimform */